/* comentario*/
#header{
    font-family: impact, serif;
    font-size: 100%;
    text-Align: center;
    background-color: #7d7373;
    color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
h1{
    color: #ffffff;
}
#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #7d7373;
    text-Align: center;
    color: #ffffff;
    font-size: 70%;
    /* display: none; */
    padding: 10px 0;
    z-index: 1000;

}

.scrolled #footer {
    display: block;
    position: fixed;
}

#loginButton, #backButton, #hotelButton, #adminButton,
#backButton{
    position: absolute;

    color: #ffffff;
    background-color: rgba(83, 91, 242, 0);
}
#loginButton{
    right: 2%;
    top: 4%;
}
#backButton{
    left: 2%;
    top: 4%;
}
#hotelButton{
    left: 5%;
    top: 4%;
}
#adminButton{
    left: 10%;
    top: 4%;
}

p{
    text-align: center;
}
#body{
    align-Items: center;
    background-Color: #ffffff;
    min-Height: 100vh
}
/* modal */
.modal, .modal2 {
    display: block; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    justify-content: center;
    align-items: center;

}

.modal-content, .modal-content2 {
    background-color: #fff;
    color: #1a1a1a;
    padding: 20px;
    margin-top: 20%;
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30%);
    display: grid
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transform: translate(50%, -50%)
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}

/* Estilos para botón Cerrar */
.buttonModal {
    background-Color: #2b2a33;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: black;

}