/* comentario*/
header{
    text-Align: center;
    background-color: #0E8388;
    color: #c1d3d4;
    position: absolute;
    top: 8%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
#loginButton{
    position: absolute;
    right: 2%;
    top: 8%;
    color: #ffffff;
    background-color: rgba(83, 91, 242, 0);

}
p{
    text-align: center;
}
#body{
    align-Items: center;
    background-Color: #ffffff;
    min-Height: 100vh
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #1a1a1a;
}