/* comentario*/
#header{
    font-family: impact, serif;
    font-size: 100%;
    text-Align: center;
    background-color: #7d7373;
    color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
h1{
    color: #ffffff;
}
#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #7d7373;
    text-Align: center;
    color: #ffffff;
    font-size: 70%;
    /* display: none; */
    padding: 10px 0;
    z-index: 1000;

}

.scrolled #footer {
    display: block;
    position: fixed;
}

#loginButton{
    position: absolute;
    right: 2%;
    top: 4%;
    color: #ffffff;
    background-color: rgba(83, 91, 242, 0);

}
#backButton{
    position: absolute;
    left: 2%;
    top: 4%;
    color: #ffffff;
    background-color: rgba(83, 91, 242, 0);
}
p{
    text-align: center;
}
#body{
    align-Items: center;
    background-Color: #ffffff;
    min-Height: 100vh
}