#h1Home{
  text-Align: center;
  color:#0E8388;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html,body{
  background-color: #CBE4DE;
  background-image: url('../images/home/suiza.jpg');
}
.image{
}
#formHome{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  display: grid;
  align-Items: center;
  background-color: #424242;
  padding: 2rem;
  border-radius: 40px;
  width: 30%;
  padding-top: 30px;
  box-shadow: 5px 5px 5px 5px rgb(104, 101, 101);
}
